.featured-container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 35px;
  background-image: url("../../../public/images/show-thumbnails/Loki.png");
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 3/1;
  position: relative;
  box-shadow: 1px 1px 20px;
  z-index: 1;

  .featured-tile {
    position: absolute;
    top: 8vw;
  }
}

.tile-logo {
  img {
    width: 100%;
    max-width: 540px;
    margin-bottom: 40px;
    width: 40vw;
  }
}

.tile-button-container {
  display: flex;
}

.featured-buttons {
  max-width: 540px;
}